<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         failOnWarning="true" 
         failOnDeprecation="true"
         failOnNotice="true"
         testdox="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="model">
<!--            <file>test/model/PostTest.php</file> -->
<!--            <file>test/model/ForumDbTest.php</file> -->
            <directory>test/model</directory>
        </testsuite>
        <testsuite name="pageparts">
            <directory>test/pageparts</directory>
        </testsuite>
        <testsuite name="helpers">
            <directory>test/helpers</directory>
        </testsuite>
        <testsuite name="handlers">
            <directory>test/handlers</directory>
        </testsuite>
    </testsuites>

    <!-- the following is for code-coverage. Run using (note some escaping on the phpunit cmd) -->
    <!-- export XDEBUG_MODE=coverage -->
    <!-- ./phpunit.phar \-\-coverage-html reports/-->
    <!-- or, if using composer: -->
    <!-- ./vendor/phpunit/phpunit/phpunit \-\-coverage-html reports -->
    <source>
        <include>
            <directory suffix=".php">src/handlers</directory>
            <directory suffix=".php">src/helpers</directory>
            <directory suffix=".php">src/model</directory>
            <directory suffix=".php">src/pageparts</directory>
        </include>
    </source>    
</phpunit>