<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         failOnWarning="true" failOnDeprecation="false">
    <testsuites>
        <testsuite name="unit-model">
<!--            <file>test/model/PostTest.php</file> -->
<!--            <file>test/model/ForumDbTest.php</file> -->
            <directory>test/model</directory>
        </testsuite>
        <testsuite name="unit-pageparts">
            <directory>test/pageparts</directory>
        </testsuite>
    </testsuites>
</phpunit>