<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         failOnWarning="true" 
         failOnDeprecation="true"
         testdox="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         bootstrap="test/bootstrap.php">
    <testsuites>
        <testsuite name="model">
<!--            <file>test/model/PostTest.php</file> -->
<!--            <file>test/model/ForumDbTest.php</file> -->
            <directory>test/model</directory>
        </testsuite>
        <testsuite name="pageparts">
            <directory>test/pageparts</directory>
        </testsuite>
        <testsuite name="helpers">
            <directory>test/helpers</directory>
        </testsuite>
    </testsuites>
</phpunit>