body
{
    background-image: url('img/bg.gif');
    font-family: arial;
    color: #ffffff;
    margin-left: 2em;
    margin-right: 2em;
}

@media screen and (orientation:portrait)
{
  body
  {
    margin-left: 0.25em;
    margin-right: 0.25em;    
  }
}

a{
    color: #f6d978;
}
a:visited
{
    color: #faeeca;
}

.addtag
{
    color: #f6d978;
    text-decoration: underline;
    cursor: pointer;
}

.addtextstyle
{
    cursor: pointer;    
}

.fbold
{
   font-weight: bold;
}

.fitalic
{
    font-style: italic;
}

.funderline
{
    text-decoration: underline;
}

.fmonospace
{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    text-wrap: nowrap;
}

.nomargin
{
    margin: 0;
}

.nowrap
{
    white-space: nowrap;
}

.navelement
{
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.threadmargin
{
    margin-bottom: 1em;
}

.fullwidth
{
    width: 100%;
}

.fullwidthcenter
{
    width: 100%;
    text-align: center;
}

.generictitle
{
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.8em;
    margin-top: 0.6em;
}

.genericsmalltitle
{
    font-weight: bold;
    font-size: 1.0em;
    margin-top: 0.4em;
}

.replytitle
{
    font-weight: bold;
    font-size: 1.0em;
    margin-top: 0.4em;
}

.nocontent
{
    color: #ff7e00;
    font-weight: bold;
}

.postcontainer
{
    margin-bottom: 2em;
}

.postcontent
{
    white-space: pre-wrap;
}

.failcolor
{
    color: red;
}

.successcolor
{
    color: #33cc33;
}

.noticecolor
{
    color: #ff7e00;
}

.postimage
{
	max-width: 100%;
}

.standwithukr
{
    right: -80px; 
    bottom: 20px; 
    transform: rotate(-45deg);
    background: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgb(0, 91, 187) 50%, rgb(255, 213, 0) 50%) repeat scroll 0% 0%;
    width: 150px; 
    height: 42px; 
    position: fixed; 
    z-index: -1;
}

@media only screen and (min-width: 600px) and (min-height: 600px) {
    .standwithukr
    {
        right: -80px; 
        bottom: 20px; 
        transform: rotate(-45deg);
        background: rgba(0, 0, 0, 0) linear-gradient(-180deg, rgb(0, 91, 187) 50%, rgb(255, 213, 0) 50%) repeat scroll 0% 0%;
        width: 300px; 
        height: 84px; 
        position: fixed; 
        z-index: -1;
    }
}